header { 
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #507C89;
}

#logo { /* Mise en page du logo */
	float: left;
	height : 100px;
	width: auto;
	margin: 15%;
}

nav { /* Mise en page du menu */
	display:flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	min-width: 80%;
	font-size: 1.3em;
}

nav ul {
	display: flex;
}

nav ul li {
	margin: 10px;
	list-style-type: none;
}

nav ul li a { /* Mise en page des liens */
	color: white;
	text-decoration: none;
}

nav ul li a:hover { /* Mise en page d'un élément du menu en cas de survol de la souris */
	color: #B4D6DF;
	text-decoration: none;
}

#active { /* Mise en page de l'élément du menu de la page sur laquelle on est */
	color: #B4D6DF;
	text-decoration: none;
}

button { /* Mise en page du menu login */
	margin-top: 15px;
	align-self: flex-end;
	font-size: 1em;
	font-family: 'Bahnschrift Regular';
	color:#507C89;
	border: solid;
	background-color: white;
	height: 50px;
	width: 180px;
	border-radius: 10px;
}

button a { /* Mise en page du texte du bouton login */
	color: #507C89;
	text-decoration: none;
}

button a:hover { /* Mise en page du texte du bouton login quand survol de la souris*/
	color: #B4D6DF;
	text-decoration: none;
}