@font-face { 
font-family: 'Bahnschrift Regular';
font-style: normal;
font-weight: normal;
src: local('Bahnschrift Regular'), url('../Polices/BAHNSCHRIFT 1.woff') format('woff');
}

html, body { 
	margin: 0px;
	padding: 0px;
	height: 100%;
}

body {
	background-color: lightblue;
	font-family: 'Bahnschrift Regular';
}

#mainBlock {
	min-height: 100%;
}

#table_resultats {
 	width: 98%;
	position: relative;
    left: 1%;
}

table {
	border: medium solid #000000;
	border-collapse: collapse;
	margin-top: 1%;
}

th {
	color: white;
	font-family: 'Bahnschrift Regular';
	border: thin solid #ffffff;
	padding: 5px;
	background-color: #507C89;
}

td {
	font-family: 'Bahnschrift Regular';
	border: thin solid #000000;
	padding: 5px;
	text-align: center;
	background-color: #ffffff;
}

h2 {
	font-size: 30px; 
	font-family: 'Bahnschrift Regular';
	margin: 2%;
	text-align: center;
}

.text1 {
	font-size: 1.2em;
	text-align: left;
	margin: 0px;
}

.text2 {
	font-size: 1.2em;
	text-align: center;
	margin: 0px;
}

#message {
	font-size: 1.5em;
	text-align: center;
}

#objectifs {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.objectifs1 {
	display: flex;
	flex-direction: column;
}

@media all and (max-width: 850px) {
	
	#logo {
		align-self: left;
		height : auto;
		width: 100%; 
		margin: 20%;
	}
	
	nav {
        text-align: left;
		width: 50%;
    }
    
    nav ul {
        flex-direction: column;
		padding: 0px;
		margin-left: 10%;
    }

    nav li {
        padding-left: 4px;
		font-size: 0.7em;
		margin-top: 5px;
		margin-bottom: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
    }
    
    nav a {
        font-size: 1.1em;
    }
    
    nav a:hover {
        border-bottom: 0;
    }
	
	header button {
		justify-content: left;
		margin-right: 5%;
		height: auto;
		width: auto;
		font-size: 0.7em;
	}
	
	footer { 
		width: 100%;
		height: 100px;
	}
	
	#navFooter p { 
		margin: 2%;
		font-size: 0.5em;
	}
	
	#navFooter a { 
		margin: 2%;
		font-size: 0.5em;
	}
	
	#navFooter {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
	
	footer #logoDoctorMetrics {
		height : auto;
		width: 15%; 
		margin: 0px;
		padding: 0px;
	}
}

