@font-face { 
font-family: 'Bahnschrift Regular';
font-style: normal;
font-weight: normal;
src: local('Bahnschrift Regular'), url('../Polices/BAHNSCHRIFT 1.woff') format('woff');
}

html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

body {
	background-color: lightblue;
	font-family: 'Bahnschrift Regular';
}

#mainBlock {
	min-height: 100%;
}

.resultatDelHopital1 {
    float: none;
	height : 60%;
	width: 49%;
    padding: 0;
    margin-top: 2%;
    display: inline-block;
}

#resultatDelHopital {
    width: 95%;
    margin-right: 2.5%;
    margin-left: 2.5%;
}