<header>
	<a href="accueil"><img id="logo" src="public/Images/DoctorMetrics.png" alt="Logo Doctor Metrics" title="Doctor Metrics"></a>
	<nav> 
		<ul>
			<li><a href="accueil">ACCUEIL</a></li>
			<li><a href="passerUnTest">PASSER UN TEST</a></li>
			<li><a href="mesResultats">MES RÉSULTATS</a></li>
			<li><a href="monEvolution">MON ÉVOLUTION</a></li>
			<li><a href="resultatsHopital">RÉSULTATS DE L'HÔPITAL</a></li>
			<li><a href="aide">AIDE</a></li>
			<button><a href="monProfil">MON PROFIL</a></button>
		</ul>
	</nav>
</header>