<header>
	<a href="index.php?action=accueil"><img id="logo" src="public/Images/DoctorMetrics.png" alt="Logo Doctor Metrics" title="Doctor Metrics"></a>
	<nav>
		<ul>
            <li><a id="quitter"href="index.php?action=accueil" onclick="pop()">QUITTER MODE ADMINISTRATEUR</a></li>
            <script type="text/javascript">
                function pop() {
                    var quitter = document.getElementById("quitter");
                    var result = confirm("Voulez-vous vraiment quitter cette page?");
                    if (result == true) {
                        quitter.href= "index.php?action=accueil";
                    }
                }
            </script>
			<li><a href="index.php?action=accueilAdmin">PROFIL ADMINISTRATEUR</a></li>
			<li><a href="index.php?action=statistiquesAdmin">STATISTIQUES</a></li>
			<li><a href="index.php?action=gestionUtilisateurs">GESTION UTILISATEURS</a></li>
			<li><a href="index.php?action=gestionTests">GESTION TESTS</a></li>
            <li><a href="index.php?action=formulaireAdmin">FORMULAIRE DE CONTACT</a></li>
		</ul>
	</nav>
</header>
