<header>
	<a href="index.php?action=accueil"><img id="logo" src="public/Images/DoctorMetrics.png" alt="Logo Doctor Metrics" title="Doctor Metrics"></a>
	<nav> 
		<button><a href="index.php?action=monProfil">MON PROFIL</a></button>
		<ul>
			<li><a href="index.php?action=accueil">ACCUEIL</a></li>
			<li><a href="index.php?action=passerUnTest">PASSER UN TEST</a></li>
			<li><a href="index.php?action=mesResultats">MES RÉSULTATS</a></li>
			<li><a href="index.php?action=monEvolution">MON ÉVOLUTION</a></li>
			<li><a href="index.php?action=resultatsHopital">RÉSULTATS DE L'HÔPITAL</a></li>
			<li><a href="index.php?action=aide">AIDE</a></li>
		</ul>
	</nav>
</header>